# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
venv.bak/

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Flask specific files
instance/
.webassets-cache

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python testing
coverage/
*.cover
*.py,cover
nosetests.xml
test-results/

# Miscellaneous
*.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite

# Environment variables
.env
*.env
